/* 
--------------------------------------------------
Colors 
--------------------------------------------------
*/

:root {
    --background-color: #111;
    --text-color: #FDFEFE;
    --accent-color: #5DADE2;
    --scrollbar-background: #f1f1f1;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111;
        --text-color: #FDFEFE;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --text-color: #000;
    }
}

/* 
--------------------------------------------------
General Layout/Formatting
--------------------------------------------------
*/

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/notosansjp.otf');
}

*,
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.6s ease;
}

body {
    margin: 0;
    padding-top: 30px;
}

div.container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

div.content {
    font-size: 30px;
}

div.divider {
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
    height: 2.5px;
    border-radius: 10px;
    background-color: var(--accent-color);
    opacity: 0.4;
}

.preview-container {
    opacity: 0;
    transition: opacity 0.8s ease;
    cursor: pointer;
}

/* 
--------------------------------------------------
Text Formatting
--------------------------------------------------
*/

a:visited,
a {
    text-decoration: none;
}

.heading {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 30px;
}

.project {
    margin-bottom: 40px;
}

.project .project-icon img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}

.project .project-title {
    font-size: 30px;
    font-weight: bold;
}

.project .project-description {
    font-size: 25px;
    margin-top: 10px;
}

.project .project-description::after {
    clear: both;
}

.project .project-links {
    font-size: 20px;
    margin-top: 10px;
    color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.project .project-links:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.project .project-links:not(:last-child) {
    margin-right: 7px;
}

.disclaimer {
    margin-top: 10px;
}

.disclaimer-img {
    float: left;
    width: 20px;
    height: 20px;
}

.disclaimer-text {
    margin: 0 0 0 20px;
    font-size: 15px;
    float: left;
}

a.contact-link {
    color: var(--accent-color);
    text-decoration: underline;
}

/* 
--------------------------------------------------
Social Icons 
--------------------------------------------------
*/

.social-icons {
    width: 50px;
    background-color: var(--accent-color) !important;
    border-radius: 50%;
    padding: 1px;
}

.social-links {
    text-decoration: none;
}

#gitlab {
    background-color: #000 !important;
    border: 1px solid var(--accent-color);
}

.arrow {
    border: solid var(--accent-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* 
--------------------------------------------------
Profile Picture + Title
--------------------------------------------------
*/

#title-element {
    font-size: 3.3em;
    font-weight: bold;
    margin: 20px 0 0 0;
    width: 100%;
}

#pfp {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    float: left;
    cursor: pointer;
    margin: 8px 20px 0 0;
}

#title-text {
    float: left;
    margin-left: 0px;
    font-size: 1em;
}

/* 
--------------------------------------------------
Dark Mode Toggle
--------------------------------------------------
*/

#mode-icon {
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(360deg);
    transition: transform 0.6s ease;
}

.flipped {
    transform: scaleX(-1);
}

/* 
--------------------------------------------------
Responsive Media Queries 
--------------------------------------------------
*/

@media screen and (max-height: 700px) {
    body {
        padding-top: 0px !important;
    }
}

@media screen and (max-width: 800px) {
    div.container {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    #mode-icon {
        top: 33px;
        width: 25px;
        right: 15px;
    }

    #pfp {
        margin-left: 10px;
    }

    .disclaimer .disclaimer-text {
        width: calc(100% - 50px) !important;
    }

    div.content {
        font-size: 2em;
        padding: 15px;
    }

    div.content p {
        margin-top: 0;
    }

    body {
        padding-top: 10px !important;
    }
}

@media screen and (max-width:675px) {
    #title-text {
        margin-left: 15px !important;
    }

    #pfp {
        margin-left: 15px;
    }
}

/* 
--------------------------------------------------
8-ball Animation
--------------------------------------------------
*/

.icon-rotate {
    animation: infiRotate 1s infinite;
    user-select: none;
    background-color: transparent;
    opacity: 0;
}

@keyframes infiRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 
--------------------------------------------------
Scrollbar
--------------------------------------------------
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

footer {
    text-decoration: underline;
}